{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="card shadow-sm" style="background: linear-gradient(135deg, #4a75c3 0%, #9ba8c3 100%); margin-bottom: 20px; height: 70px;">
                
                <div class="card-body">
                    <h3 class="mb-4 text-center text-white"><i class="bi bi-journal-plus"></i> Notes for {{customer_record.first_name}} {{customer_record.last_name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col text-center mb-4">
                <a href="{% url 'home' %}" class="btn btn-dark me-3 back-btn"><i class="bi bi-arrow-left-square-fill"></i> Back</a>
                <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#addNoteModal">
                    <i class="bi bi-file-earmark-plus-fill"></i> Add Note
                </button>
            </div>
        </div>
    </div>
    
    <!--Add Note Modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="addNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a New Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Content</label>
                            {{ form.content }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Note</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="notes-container">
        {% if notes %}
    {% for note in notes %}
        <!-- Edit Note Modal -->
        <div class="modal fade" id="editNoteModal--{{ note.id }}" tabindex="-1" aria-labelledby="editNoteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Note</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'edit_note' customer_record.id note.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Title</label>
                                <input type="text" class="form-control" name="title" value="{{ note.title }}">
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Content</label>
                                <input type="text" class="form-control" name="content" value="{{ note.content }}">  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update Note</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">Created at: {{ note.created_at|date:"Y-m-d H:i:s" }}</h6>
                    <hr>
                    <p class="card-text">{{ note.content }}</p>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#editNoteModal--{{ note.id }}">
                            <i class="bi bi-pencil-square"></i> Edit
                        </button>
                        <form action="{% url 'delete_note' customer_record.id note.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger back-btn"><i class="bi bi-trash3-fill"></i> Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            No notes available for this customer.
        </div>
    </div>
{% endif %}
</div>
{% endblock %}