{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
 <div class="row justify-content-center">
   <div class="col-md-6">
      <form method="POST" class="card p-4 rounded-3 mb-3 custom-card">
        <div class="card" style="background-color: #d9edf7; margin-bottom: 15px; height:70px">
          <div class="card-body">
              <h3 class="text-center">Sign-Up</h3>
          </div>
        </div>
            {% csrf_token %}
        
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div class="mt-2 alert alert-danger">{{ form.username.errors|striptags }}</div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <div class="mb-2">
              {{ form.first_name.label_tag }} 
              {{ form.first_name }}
              {% if form.first_name.errors %}
                  <div class="mt-2 alert alert-danger">{{ form.first_name.errors|striptags }}</div>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              {{ form.last_name.label_tag }} 
              {{ form.last_name }}
              {% if form.last_name.errors %}
                  <div class="mt-2 alert alert-danger">{{ form.last_name.errors|striptags }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      
        <div class="mb-2">
          {{ form.email.label_tag }}
          {{ form.email }}
          {% if form.email.errors %}
              <div class="mt-2 alert alert-danger">{{ form.email.errors|striptags }}</div>
          {% endif %}
        </div>
        
        <   div class="mb-2 position-relative">
          {{ form.password1.label_tag }}
          {{ form.password1 }}
          <span class="toggle-password" onclick="togglePassword('register1')"  
              style= "position: absolute; cursor:pointer; right:10px; top:55%;">
              <i class="bi bi-eye-fill" id="toggle-icon-register1"></i>
          </span>
          {% if form.password1.errors %}
              <div class="mt-2 alert alert-danger">{{ form.password1.errors|striptags }}</div>
          {% endif %}
      </div>
      
      <div class="mb-2 position-relative">
          {{ form.password2.label_tag }}
          {{ form.password2 }}
          <span class="toggle-password" onclick="togglePassword('register2')"  
              style= "position: absolute; cursor:pointer; right:10px; top:55%;">
              <i class="bi bi-eye-fill" id="toggle-icon-register2"></i>
          </span>
          {% if form.password2.errors %}
              <div class="mt-2 alert alert-danger">{{ form.password2.errors|striptags }}</div>
          {% endif %}
      </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary mt-3 custom-btn">Register</button>
        </div>
     </form>
    </div>
  </div>
</div>

{% endblock %}
